################################################################################
# FILES to ignore
################################################################################
# Files to ignore
.*.swp
.DS_Store
*.orig

################################################################################
# DIRECTORIES to ignore
################################################################################
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
**/[Bb]in/*
**/[Tt]mp/*
**/[Vv]endor/*
**/node_modules/*

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
